/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.focus_without_color{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color:red;
}

#background{
	-fx-background-image: url("background.png");
}

.menu-tools{
	-fx-background-color: #3CB371;
	-fx-border-color: #2F4F4F;
	-fx-border-width: 2;
	-fx-border-style: solid;
}

#entity{
	-fx-background-color: #FFFFFF;
	-fx-border-color: #2F4F4F;
	-fx-border-width: 2;
	-fx-border-style: solid;
}